.header {
  position: sticky;
  top: 0;
  background-color: #acac9a;
  z-index: 100;
}

.content {
  position: relative;
}

.content-container {
  width: 60%;
  min-height: 400px;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.116);
  margin: 0 auto;
  position: relative;
  z-index: 1;
  font-size: 30px;
}

.message {
  white-space: nowrap;
  overflow: visible;
  text-overflow: ellipsis;
  max-width: 100%;
  text-align: center;
  font-size: 30px;
}

body {
  background: url("assets/decoração.jpg") no-repeat fixed center;
  background-size: cover;
}

footer {
  background-color: #a8a89b;
  color: black;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  height: 50px;
}

footer p {
  line-height: 10px;
  margin: auto;
}
