header {
  background-color: #a8a89b;
  color: black;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 80px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

h1 {
  color: #58593e;
  font-size: 50 px;
}

p {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.158);
}

p3 {
  text-align: left;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  color: black;
}

body {
  background: url("assets/decoração.jpg") no-repeat fixed center;
}

footer {
  background-color: #a8a89b;
  color: black;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  height: 50px;
}

footer p {
  line-height: 10px;
  margin: auto;
}
